<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [2]:
# 入力用
import random

number = [random.randint(10,2800 ) for _ in range(5)]

result = [str(2220000 + nb) for nb in number]

btasu = ["b" + nb for nb in result]

print(btasu)

['b2222117', 'b2221734', 'b2221793', 'b2221563', 'b2221604']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [3]:
# 入力用
import random

list1 = random.sample(range(1, 10), 5)
list2 = random.sample(range(1, 10), 5)

result = [x + y for x, y in zip(list1, list2)]

print("1つ目のリスト：", list1)
print("2つ目のリスト：", list2)
print("足し合わせたリスト：", result)

1つ目のリスト： [4, 9, 6, 5, 3]
2つ目のリスト： [5, 4, 8, 6, 3]
足し合わせたリスト： [9, 13, 14, 11, 6]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [5]:
# 入力用
import random
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]
random.shuffle(todohuken_list)

waketalist = [todohuken_list[i:i+4] for i in range(0, len(todohuken_list), 4)]
print(waketalist)

[['岐阜県', '奈良県', '福岡県', '京都府'], ['三重県', '富山県', '石川県', '長野県'], ['滋賀県', '秋田県', '熊本県', '大阪府'], ['茨城県', '広島県', '大分県', '山口県'], ['岩手県', '愛媛県', '山梨県', '神奈川県'], ['山形県', '沖縄県', '愛知県', '徳島県'], ['千葉県', '宮城県', '島根県', '福島県'], ['群馬県', '青森県', '福井県', '埼玉県'], ['北海道', '鹿児島県', '香川県', '岡山県'], ['鳥取県', '兵庫県', '栃木県', '高知県'], ['長崎県', '東京都', '宮崎県', '新潟県'], ['和歌山県', '佐賀県', '静岡県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [7]:
# 入力用
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]
num = []
kekka = []
for i in range(4):
  university=university_list[i]
  str_num=university.split((","))
  num.append(int(str_num[1]))
university_dict=dict(zip(num,university_list))
university_dict=sorted(university_dict.items())
for i in range(4):
  kekka.append(university_dict[i][1])
print(kekka)

['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [12]:
# 入力用
N=100
results = []
FizzBuzz = 0
Fizz = 0
Buzz = 0
others = 0

for i in range(1, N + 1):
  if i%3==0 and i%5==0:
    FizzBuzz=FizzBuzz+1
  elif i%3==0:
    Fizz=Fizz+1
  elif i%5==0:
    Buzz=Buzz+1
  else:
    others=others+1
print("FizzBuzzの数:",FizzBuzz)
print("Fizzの数:",Fizz)
print("BUzzの数:",Buzz)
print("othersの数:",others)

FizzBuzzの数: 6
Fizzの数: 27
BUzzの数: 14
othersの数: 53